body {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #fdfdfd;
  color: #222;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

h2 {
  margin-top: 2rem;
}

#content {
  margin-top: 1rem;
  text-align: left;
}
